@import "variables";
.button {
  display: block;
  background-color: #00bc9c;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: 700;
  .get-started &{
    font-size: 1.125em;
    padding: 22px 20px 22px ;
    width: 295px;
    text-align: center;
  }
  .work &{
    font-size: 0.9375em;
    padding: 20px;
    width: 150px;
  }
}
button.button{
  border: 0;
  padding: 6px 5px;
  position: absolute;
  right: 5px;
  top:5px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
}