$main-color: #506a85;
$secondary-color: white;
$main-font: SourceSansPro,sans-serif;
$secondary-font: Lato, sans-serif;
$main-font-size: 16px;
$main-font-weight: 400;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width:480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$main-link-color: #506a85;
$link-text-decoration: none;
$list-style: none;
$title-font: 'Lato', sans-serif;
$article-title-font-weight: 700;
$link-cursor: pointer;
$link-transition: color 0.4s linear;
$text-link-hover: #00bc9c;
$menu-text-transform: uppercase;